# Configurações de Produção
NODE_ENV=production

# Banco de Dados
POSTGRES_DB=markfy
POSTGRES_USER=markfy
POSTGRES_PASSWORD=seu_password_super_seguro_aqui
DATABASE_URL=postgresql://markfy:seu_password_super_seguro_aqui@postgres:5432/markfy?schema=public

# JWT
JWT_SECRET=seu_jwt_secret_super_seguro_de_producao_aqui

# Frontend
NEXT_PUBLIC_GRAPHQL_URL=http://localhost:4000/graphql

# Portas
FRONTEND_PORT=3000
BACKEND_PORT=4000
